[submodule "libs/android-times-square"]
	path = libs/android-times-square
	url = git://github.com/square/android-times-square.git
[submodule "libs/android-maps-utils"]
	path = libs/android-maps-utils
	url = git://github.com/renlijie/android-maps-utils.git
